.side_bar
  .side_bar__side-header
    .side-box
      .user-name
        = current_user.name
      .menu
        = link_to new_group_path, class: "menu__btn menu__btn--new" do
          = icon('far', 'edit',  class: "menu__btn--icon")
        = link_to edit_user_path(current_user), class: "menu__btn menu__btn--edit" do
          = icon('fa', 'cog',  class: "menu__btn--icon")
  .side_bar__groups
    - current_user.groups.each do |group|
      .group
        =link_to `#` do
          .group-name
            techcamp
          .message
            まだメッセージがありません
 